@import url("styles/header.css");


:root{

 --cor-de-fundo:black;
 --cor-do-text0:white;
 --cor-do-texto-2:rgb(155, 0, 0);
 --destaque:black;
 --links:white;

}

.cabecalho{
background-color: var(--cor-de-fundo);
}